<div class="detailPageContainer">
    <div class="detailsContainer card m-3">
        <h1 class="messageTitle card-header">
            <p class="m-2">Message #{{message?.id}}</p>
        </h1>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h3 class="messageName">
                        <p class="listName">Name: </p> {{message?.name}}
                    </h3>
                </li>
                <li class="list-group-item">
                    <h3 class="messageDate">
                        <p class="listName">Date: </p>
                        {{message?.modifiedDate}}
                    </h3>
                </li>

                <li class="list-group-item">
                    <h3 class="messageIsSent">
                        <p class="listName">Sent:</p>
                        {{message?.isSent}}
                    </h3>
                </li>
                <div class="buttonContainer">
                    <button class="deleteButton btn btn-lg m-1" (click)="deleteMessage()">Delete</button>
                    <button class="backButton btn btn-lg m-1" (click)="returnToMain()">Go Back</button>
                </div>

            </ul>
        </div>
    </div>
</div>